/* @charset "utf-8";
 */
*{margin: 0;padding: 0;}

html,body{font-size: 14px;font-family:"微软雅黑";}

.banner_box{
	width: 1000px;
	height: 540px;
	margin: 20px auto;
	border: 1px solid #ccc;
	overflow: hidden;
	position: relative;
}
.banner_box .imgs{
	width:4000px;border: 1px solid #ccc;
}
.banner_box .imgs img{width: 1000px;height:540;float: left;}
.banner_box .points{
	position: absolute;width: 100%;height:auto; text-align: center;left: 0;bottom: 0;
}
.banner_box .points span{
	display: inline-block;
	width: 16px;height: 16px;
	border: 2px solid #ccc;
	margin: 2px;
	border-radius: 100%;
}
.banner_box .points span.current{
	background-color: white;
}

/* 箭头 */
.banner_box .left_btn, .banner_box .right_btn{
	display: inline-block;font-size: 80px;position: absolute;
	color: #ccc;text-align: center;width: 60px;height: 60px;line-height: 60px;
	margin-top: -30px;top: 50%;opacity: 0.4;
}
.banner_box .left_btn{left: 0}
.banner_box .right_btn{right: 0}

 .banner_box .left_btn:hover, .banner_box .right_btn:hover{
	opacity: 1
 }

