
body{margin:0;padding: 0;}

#container
{
	position: absolute;
}

.box
{
	padding: 15px 0 0 15px;
	float: left;
}

.pic
{
	padding:10px;
	box-shadow: 0 0 5px #ccc;
	border-radius:5px;
	border: 1px solid #ccc;
}

.pic img
{
	width: 196px;
	height: auto;
}